# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.Debug
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/debug/moc_window.cpp
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile.Debug
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile.Release
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/ui_battle.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/ui_mainmenu.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/ui_widget.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/ui_window.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/.qmake.stash
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/Makefile
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/Makefile.Release
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/release/moc_predefs.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/release/moc_widget.cpp
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/release/moc_window.cpp
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/release/qrc_qressource.cpp
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/ui_battle.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/ui_stackedwidget.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Profile/ui_widget.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile.Debug
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/ui_widget.h
build-pokemon-Desktop_Qt_5_15_0_MinGW_32_bit-Debug/Makefile.Release
